/* * {
    margin: 0;
    padding:0;
} */


.hero-image{
    background-image: url("../image/hero-image.jpg");
    background-size: cover;
    padding: 13rem;
    width: 100vw;
    position: relative;
    left: calc(-1*(100vw - 100%)/2)
}

select {
    width: 400px;
    min-width: 35px;
    height: 40px;
    background: rgb(75, 63, 63);
    color: white;
    text-align: center;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
}
select:focus {
    background-color: rgb(153, 83, 116);
}

/* Hero-Image Source */
/* https://www.google.com/search?q=piano+pictures+1600+x+500&tbm=isch&ved=2ahUKEwiEy5fekbL3AhXFBN8KHSj1BQAQ2-cCegQIABAA&oq=piano+pictures+1600+x+500&gs_lcp=CgNpbWcQAzoHCCMQ7wMQJzoFCAAQgARQ-QNY2wVgtg1oAHAAeACAATuIAaoBkgEBM5gBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=bRxoYsTgHsWJ_Aao6hc&bih=969&biw=1903&hl=en#imgrc=Jz1K7GaPYY1r0M */